/*establish font and line height for site*/
html {
  font-size: 18px;
  line-height: 1.4;
}
/*establish rules for site container*/
.site-container {
  width: 960px;
  margin: 0 auto;
}
/*add background image to "top"*/
#top {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
}
/*header container with logo, company name and link styles*/
#header {
  position: relative;
  top: 1rem;
  width: 100%;
  /*margin-top: 1rem;*/
  padding: 1rem 0rem;
  background-color: cadetblue;
  display:flex;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}
/*style logo white in header*/
#logo {
  padding-left: 2rem;
  margin-right: 1rem;
  width: 82.125px;
}
#logo img {
  height: 1.5rem;
}
/*Company name in header*/
#co-name span {
  position: relative;
  top: 0.4rem;
}
/* nav bar and links*/
nav {
}
#menu-link{
  display: none;
}
#links {
    padding-right: 2rem;
    display: flex;
    position: relative;
    top: 0.4rem;
}
#name-links {
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.link {
  margin-left: 2rem;
}
.link a:link {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  text-decoration: none;
}
.link a:visited {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  text-decoration: none;
}
/*header overlay on top image*/
#motto-container {
height: 474px;
width: 100%;

}
#motto {
  float: right;
  position: relative;
  top: 10rem;
  left: 2rem;
  background-color: white;
}
#motto h1 {
  padding: 1.5rem 5rem;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
/*middle section with three images and description*/
#middle {

  height: 14rem;
}
#middle-flex {

  display: flex;
  justify-content: center;
}
#paper{
  margin-bottom: 1rem;
  width: 3.5rem;
}
#ruler {
  margin-bottom: 2rem;
  width: 5rem;
}
#truck {
  margin-bottom: 2rem;
  width: 5rem;
}
.middle-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8rem;
  margin: 3rem;
  line-height: 1.4rem;
  font-family: Helvetica;

}
/*bottom section with two text boxes*/
#bottom {


  padding-bottom: 5rem;
}
#text-boxes {
  display: flex;
  justify-content: center;
}
#philosophy-container {
  width: 35%;
  margin-right: 2.5%;
  font-family: Helvetica;
  line-height: 1.4rem;
}
#appointments-container {
  margin-left: 2.5%;
  width: 35%;
  font-family: Helvetica;
  line-height: 1.4rem;
}
.mini-header {
  margin-bottom: 1rem;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;

}
/*footer with logo and copyright*/
footer {
  height: 9.5rem;
  background-color: azure;
}
#copyright-container {
  width: 50%;
  position: relative;
  top: 4rem;
  left: 4rem;
  line-height: 1.4rem;

}
#copyright-container img {
  height: 1.5rem;
  padding-right: 1rem;

}
#copyright-container span {
  font-family: Helvetica;
  font-size: 1rem;
  position: relative;
  bottom: .4rem;

}
/* style for tablet-landscape*/

@media screen and (max-width: 1200px) {
  #top{
    height: 22rem;
  }
  #header {
    position: static;
  }
  #motto-container{

  }
  #motto {
    top: 5rem;
    left: 0rem;
    margin-right: 2rem;
  }
  #motto h1 {
    padding: .75rem 4rem;
    font-size: 1.33rem;
  }
  #copyright-container {

  }
}

@media screen and (max-width: 960px) {
  .site-container {
    width: 100%;
  }
}
/*style for tablet-portrait*/

@media screen and (max-width: 800px) {
#top{
  height: 17rem;
}
#motto {
  margin: 0 auto;
  top: 9rem;
  float: none;
  text-align: center;
}
#motto h1 {
  padding: 1rem 0rem;
  font-size: 1rem;
}
#copyright-container {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
#copyright-container img {
  margin: 0 auto;
  padding: 0 0;
}
#copyright-container span{
  display: none;
}
#links {
  display: none;
}
#menu-link {
  display: block;
  padding-right: 2rem;
  position: relative;
  top: 0.4rem;
}
}
/*style for mobile*/

@media screen and (max-width: 600px) {
  #co-name span{
    display: none;
  }
  #middle {

/*temp code*/    height: 600px; /*temp code*/
  }
  #middle-flex {
    margin-bottom: 2.23rem;
    margin-top: 2.23rem;
    flex-direction: column;
}
.middle-item {
  font-size: .77rem;
  margin: 1.54rem;
}
#top {
  background-position: 20%;
}
#text-boxes {

  width: 100%;
  flex-direction: column;
  align-items: center;
}
#philosophy-container {
  padding-bottom: 4rem;
  width: 100%;
  margin: 0 auto;
}
#philosophy-container p{
  padding: 0 1rem;
  font-size: .77rem;
}
#appointments-container {

  margin: 0 auto;
  width: 100%;
}
#appointments-container p{
  padding: 0 1rem;
  font-size: .77rem;
}
.mini-header {
  padding: 0.5rem 0rem;
  text-align: center;
  width: 100%;
}
#logo {
  margin-right: 0;
}
}
@media screen and (max-width: 250px) {
  #logo {
    padding: 0 0;
  }
  #menu-link {
    padding: 0 1rem;


  }
}
