/*establish font and line height for site*/
html {
  font-size: 18px;
  line-height: 1.4;
}
/*establish rules for site container*/
.site-container {
  width: 960px;
  margin: 0 auto;
}
/*add background image to "top"*/
#top {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center ;
}
/*header container with logo, company name and link styles*/
#header {
  position: relative;
  top: 1rem;
  width: 100%;
  /*margin-top: 1rem;*/
  padding: 1rem 0rem;
  background-color: cadetblue;
  display:flex;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}
/*style logo white in header*/
#logo {
  padding-left: 2rem;
  margin-right: 1rem;
  width: 82.125px;
}
#logo img {
  height: 1.5rem;
}
/*Company name in header*/
#co-name span {
  position: relative;
  top: 0.4rem;
}
/* nav bar and links*/
nav {
}
#links {
    padding-right: 2rem;
    display: flex;
    position: relative;
    top: 0.4rem;
}
#name-links {
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.link {
  margin-left: 2rem;
}
.link a:link {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  text-decoration: none;
}
.link a:visited {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  text-decoration: none;
}
/*header overlay on top image*/
#motto-container {
height: 474px;
width: 100%;

}
#motto {
  float: right;
  position: relative;
  top: 10rem;
  left: 2rem;
  background-color: white;
}
#motto h1 {
  padding: 1.5rem 5rem;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
/*middle section with three images and description*/
#middle {

  height: 14rem;
}
#middle-flex {

  display: flex;
  justify-content: center;
}
#paper{
  margin-bottom: 1rem;
  width: 3.5rem;
}
#ruler {
  margin-bottom: 2rem;
  width: 5rem;
}
#truck {
  margin-bottom: 2rem;
  width: 5rem;
}
.middle-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8rem;
  margin: 3rem;
  line-height: 1.4rem;
  font-family: Helvetica;

}
/*bottom section with two text boxes*/
#bottom {


  padding-bottom: 5rem;
}
#text-boxes {
  display: flex;
  justify-content: center;
}
#philosophy-container {
  width: 35%;
  margin-right: 2.5%;
  font-family: Helvetica;
  line-height: 1.4rem;
}
#appointments-container {
  margin-left: 2.5%;
  width: 35%;
  font-family: Helvetica;
  line-height: 1.4rem;
}
.mini-header {
  margin-bottom: 1rem;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;

}
